.footer {
    margin-top: 55px;
    margin-left: -8px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #ffff;
}

.footer-counter {
    font-family: 'Recursive', sans-serif;
}

.happy-span, .sad-span {
    margin-left: 5px;
    font-family: 'Recursive', sans-serif;
}

.happy-text, .sad-text {
    font-family: 'Recursive', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&family=Righteous&family=Roboto&display=swap');